.analystProfilePage__img {
  /* float: left; */
  /* margin-left: 120px; */
  /* margin-left: 174px;
  margin-top: 84px;
  height: 257px; */
  /* float: left;
  margin-left: 23px;
  margin-top: 84px;
  height: 257px; */
  float: left;
  margin-left: 23px;
  margin-top: 84px;
  height: 257px;
}
.analystProfilePage__bio {
  /* background-color: #ccc; */
  width: 500px;
  height: 260px;
  float: right;
  border: 1px solid #ccc;
  margin-top: 55px;
  margin-right: 350px;
}
