.bor {
  text-align: center;
  position: absolute;
  display: grid;
  bottom: 62%;
  top: 8%;
  width: 180px;
  padding: 10px;
  left: 233px;
  border: 1px solid #948acf;
  border-radius: 1.25rem;
  margin: 0;
}

.div2 {
  text-align: center;
  position: absolute;
  display: grid;
  bottom: 78%;
  top: 8%;
  width: 583px;
  padding: 10px;
  left: 505px;
  border: 1px solid #948acf;
  border-radius: 1.25rem;
  margin: 0;
}
.div3 {
  text-align: center;
  position: absolute;
  display: grid;
  bottom: 3%;
  top: 45%;
  width: 401px;
  left: 230px;
  border: 1px solid #948acf;
  border-radius: 1.25rem;
  padding: 10px;
  margin: 0;
}
.div4 {
  text-align: center;
  position: absolute;
  display: grid;
  bottom: 3%;
  top: 45%;
  width: 401px;
  left: 710px;
  border: 1px solid #948acf;
  border-radius: 1.25rem;
  padding: 10px;
  margin: 0;
}
