.campaign {
  text-align: center;
  /* position: absolute;
  display: grid;
  left: 24%;
  bottom: 38%;
  top: 37%;
  width: 591px;
  padding: 10px;
  border: 1px solid #948acf;
  margin: 0; */
}
/* .slogan {
  text-align: center;
  position: absolute;
  display: grid;
  bottom: 64%;
  top: 16%;
  left: 24%;
  width: 591px;
  padding: 10px;
  border: 1px solid #948acf;
  margin: 0;
} */
