nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
}
nav li {
  list-style: none;
  margin-top: 0.5cm;
}
nav li:not(:last-child) {
  margin-right: 10px;
}
nav li:hover a {
  color: rgb(255, 255, 255);
  background-color: rgb(62, 164, 204);
}
nav li a {
  color: black;
  text-decoration: none;
  font-size: large;
  padding: 18.5px;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

nav img {
  height: 56px;
}
